header{
    background-color: #EAC926;    
}
body{
    background-color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    
}
h1 {
    font-size: 50px;
    font-weight: 300;
    font-weight: bolder;
}

h2 {
    font-size: 20px;
}

p {
    font-size: 17px;
    line-height: 24px;
}

nav a{
    text-decoration: none;
    color: black;
}
nav ul{
    list-style-type: none;
}
.burguer-menu {
    background-color: blue;
    font-size: 30px;
    color: white;
    text-align: center;

}

.negrita {
    font-weight: bold;
}
footer {
    background-color: white;
    text-align: center;
}
.iconos{
    font-size: 10em;
    color: blue;
    text-align: center;
    line-height: 10px;
}
.copy {
    color: gray;
    font-weight: lighter;
}
.precios {
    font-size: 18px;
}
.titulares {
    font-size:24px;
    font-weight: bold;
}
.cuerpos-de-texto{
    font-size:12px;    
}
.descuentos {
    font-size: 16px;
}
